<div class="container" fxLayout="row" fxLayoutAlign="center center">
  <mat-card>
    <mat-card-header fxLayout="row" fxLayoutAlign="center center">
      <mat-card-title>To-Do List</mat-card-title>
    </mat-card-header>

    <div fxLayout="row" fxLayoutAlign="center center">
      <img src="assets/4697260.png" alt="" />
    </div>

    <div
      *ngIf="this.authService.isLoggedIn"
      fxLayout="row"
      fxLayoutAlign="center center"
    >
      <button routerLink="/to-do-list">My TO-DO List</button>
      <button (click)="authService.signOut()">Sign out</button>
    </div>

    <div
      *ngIf="!this.authService.isLoggedIn"
      fxLayout="row"
      fxLayoutAlign="center center"
    >
      <button routerLink="/login">Log in</button>
      <button routerLink="/register">Sign up</button>
    </div>
    <button routerLink="/admin" *ngIf="this.isAdmin">Admin</button>
  </mat-card>
</div>
