<div class="container" fxLayout="row" fxLayoutAlign="center center">
  <mat-card>
    <mat-card-header fxLayout="row" fxLayoutAlign="center center">
      <mat-card-title>My-To-Dos</mat-card-title>
    </mat-card-header>

    <div fxLayout="row" fxLayoutAlign="center center">
      <img src="assets/4697260.png" alt="" />
    </div>

    <div
      *ngIf="this.authService.isLoggedIn"
      fxLayout="row"
      fxLayoutAlign="center center"
    >
      <button mat-raised-button routerLink="/to-do-list">My TO-DO List</button>
      <button mat-raised-button (click)="authService.signOut()">
        Sign out
      </button>
    </div>

    <div
      *ngIf="!this.authService.isLoggedIn"
      fxLayout="row"
      fxLayoutAlign="center center"
    >
      <button color="primary" mat-raised-button routerLink="/login">
        Log in
      </button>
      <button color="primary" mat-raised-button routerLink="/register">
        Sign up
      </button>
    </div>
    <div *ngIf="this.isAdmin" fxLayout="row" fxLayoutAlign="center center">
      <button mat-raised-button routerLink="/admin">Users Management</button>
    </div>
  </mat-card>
</div>
