<div class="container" fxLayout="column" fxLayoutAlign="center center">
  <div fxLayout="row" fxLayoutAlign="center center">
    <img src="assets/4697260.png" alt="" />
  </div>

  <div
    *ngIf="this.authService.isLoggedIn"
    fxLayout="row"
    fxLayoutAlign="center center"
  >
    <button mat-raised-button routerLink="/to-do-list">Go To Task Board</button>
  </div>

  <div
    *ngIf="!this.authService.isLoggedIn"
    fxLayout="row"
    fxLayoutAlign="center center"
  >
    <button mat-raised-button routerLink="/login">Log in</button>
    <button mat-raised-button routerLink="/register">Sign up</button>
  </div>
  <div *ngIf="this.isAdmin" fxLayout="row" fxLayoutAlign="center center">
    <button mat-raised-button routerLink="/admin">Users Management</button>
  </div>
</div>
