.container {
  margin-top: 50px;
  font-size: 1rem;
  height: 50%;
}

.container .login-form {
  min-width: 100%;
  max-width: 300px;
  width: 100%;
}
.container .login-form-field {
  width: 100%;
}

.container .btn {
  width: 75%;
  font-size: 1rem;
  font-style: italic;
  padding: 10px;
  background: #3f51b5;
  color: white;
  border-radius: 5px;
}

.forgotPassword,
.redirect {
  font-style: italic;
  color: #3f51b5;
  font-weight: bold;
}
.forgotPassword:hover,
.redirect:hover {
  text-decoration-line: underline;
  cursor: pointer;
}
.container .btn {
  cursor: pointer;
}

.container mat-card-header {
  width: 100%;
  display: block;
  font-weight: 700;
  color: #3f51b5;
  font-style: italic;
}
.container mat-card-header mat-card-title {
  font-size: 1rem;
  margin: 10px;
}

.box {
  height: max-content;
  background-color: aliceblue;
}

input {
  margin: 0 20px;
}

button {
  margin: 0 20px;
}

.task-container {
  height: 300px;
  overflow: auto;
}
