<mat-grid-list cols="3" rowHeight="1:1" gutterSize="16px" style="height: 180px">
  <mat-grid-tile class="to-do-tile" style="height: 180px">
    <app-task-display-tile
      [onSpanish]="onSpanish"
      [taskList]="taskList"
      [tileTitle]="tileCategory.toDo.title"
      [tileFilter]="tileCategory.toDo.filter"
      [tileStatusOptions]="tileCategory.toDo.statusOptions"
      (editTaskEvent)="this.onEditTask($event)"
      (deleteTaskEvent)="this.onDeleteTask($event)"
    ></app-task-display-tile>
  </mat-grid-tile>

  <mat-grid-tile class="in-progress-tile" style="height: 180px">
    <app-task-display-tile
      [onSpanish]="onSpanish"
      [taskList]="taskList"
      [tileTitle]="tileCategory.inProgress.title"
      [tileFilter]="tileCategory.inProgress.filter"
      [tileStatusOptions]="tileCategory.inProgress.statusOptions"
      (editTaskEvent)="this.onEditTask($event)"
      (deleteTaskEvent)="this.onDeleteTask($event)"
    ></app-task-display-tile>
  </mat-grid-tile>

  <mat-grid-tile class="done-tile" style="height: 180px">
    <app-task-display-tile
      [onSpanish]="onSpanish"
      [taskList]="taskList"
      [tileTitle]="tileCategory.done.title"
      [tileFilter]="tileCategory.done.filter"
      [tileStatusOptions]="tileCategory.done.statusOptions"
      (editTaskEvent)="this.onEditTask($event)"
      (deleteTaskEvent)="this.onDeleteTask($event)"
    ></app-task-display-tile>
  </mat-grid-tile>
</mat-grid-list>

<div class="add-task-container" fxLayout="row" fxLayoutAlign="center center">
  <mat-form-field appearance="fill" class="add-task-field">
    <input matInput #taskContent placeholder="New task" />
  </mat-form-field>
  <mat-form-field appearance="outline" class="task-status">
    <mat-label>Status</mat-label>
    <mat-select #taskStatus>
      <mat-option value="TO DO">To Do</mat-option>
      <mat-option value="IN PROGRESS">In Progress</mat-option>
      <mat-option value="DONE">Done</mat-option>
    </mat-select>
  </mat-form-field>
  <button
    mat-raised-button
    (click)="this.onAddTask(taskContent.value, taskStatus.value)"
  >
    Add
  </button>
</div>

<div *ngIf="!onSpanish" fxLayout="row" fxLayoutAlign="center center">
  <button mat-raised-button (click)="onSwitchToSP()">
    Translate to Espanol!
  </button>
</div>

<div *ngIf="onSpanish" fxLayout="row" fxLayoutAlign="center center">
  <button mat-raised-button (click)="onSwitchToEN()">Back to English!</button>
</div>
