<div class="container" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header fxLayout="row" fxLayoutAlign="center center">
      <mat-card-title>Reset Password</mat-card-title>
    </mat-card-header>
    <mat-card-subtitle
      >Please enter your email address to request a password
      reset.</mat-card-subtitle
    >

    <div class="login-form" fxLayout="row" fxLayoutAlign="center center">
      <mat-card-content>
        <mat-form-field class="login-form-field">
          <input
            matInput
            type="email"
            class="formControl"
            placeholder="Email Address"
            #passwordResetEmail
            required
          />
        </mat-form-field>
      </mat-card-content>
    </div>

    <!-- Calling ForgotPassword from AuthService Api -->
    <div class="formGroup" fxLayout="row" fxLayoutAlign="center center">
      <button
        color="primary"
        mat-raised-button
        class="btn"
        value="Reset Password"
        (click)="authService.forgotPassword(passwordResetEmail.value)"
      >
        Reset Password
      </button>
    </div>

    <div class="redirectToLogIn" fxLayout="row" fxLayoutAlign="center center">
      <span
        >Go back to ?<span class="redirect" routerLink="/login">
          Log In</span
        ></span
      >
    </div>
  </mat-card>
</div>
