<div class="container" fxLayout="column" fxLayoutAlign="center center">
  <ul *ngFor="let user of userList">
    <li id="{{ user.uid }}" fxLayout="row wrap">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{ user.displayName }}</mat-card-title>
          <mat-card-subtitle>{{ user.email }}</mat-card-subtitle>
        </mat-card-header>

        <mat-card-actions>
          <mat-form-field appearance="outline" class="user-auth">
            <mat-label>Status</mat-label>
            <mat-select #isAdmin>
              <mat-option value="true">Admin</mat-option>
              <mat-option value="false">Regular</mat-option>
            </mat-select>
          </mat-form-field>

          <button
            mat-button
            id="{{ user.uid }}"
            color="primary"
            (click)="this.onUpdateUserAuthorization($event, isAdmin.value)"
          >
            Save
          </button>

          <button
            mat-button
            id="{{ user.uid }}"
            color="primary"
            (click)="this.onGetHistoryUsage($event)"
          >
            Usage
          </button>

          <button mat-button color="warn" (click)="this.onDeleteUser($event)">
            Delete
          </button>
        </mat-card-actions>
      </mat-card>
    </li>
  </ul>
</div>
